<div class="container">

  <h2>Wanna See Some Anagrams?!</h2>


  <form  action="/" method="post">
    <input type="text" name="user_word" placeholder="enter word here">
    <input type="submit" value="Get Yo Anagrams!">
  </form>

  <ul class="anagrams"> 
  <% if @anagrams %>
  <% @anagrams.each do |word| %>
  <li><%= word %></li>
  <% end %>
  <% end %> 
  </ul>



</div>

